h5.news {
    text-align: left;
}

img.featured {
    max-width: 100%;
    height: auto;
}

/* #map,
body,
html {
  height: 100%;
} */

#map {
    height: 500px;
}

.media-body {
    width:30em;
}

table.mostchanged {
    border: 1px solid black;
    font-size: 1.5em;
    align-self: center;
    padding: 0.5em;
    width: 25em;
     margin: auto; 
}

tr.main:nth-child(even) {background-color: #f2f2f2;}
tr.main:nth-child(odd) {background-color:lightblue;}

td.mylabel {
    font-weight: 600;
    min-width: 7em;
    text-align: left;
}

td.myvalue {
    min-width: 5em;
    text-align: right;
}

td {
    padding: .25em;

}

div.Covid19Title {
    background-color: lightgray;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
